diffusers==0.24.0
torch
torchvision
transformers
accelerate
einops
opencv-python
wandb
omegaconf
imageio
decord
xformers
lpips
bitsandbytes
pytorch-lightning
tensorboard
seaborn
datasets
xformers
torch-dct
git+https://github.com/openai/consistencydecoder.git
webdataset
peft
albumentations
